/* header */

.logo{
    margin-right: 60%;
}
/* \ header */

.section{
	background: #5f5f5f;
}

.contact-us li{
	font-size: 12px;
	list-style: none;
}
.contact-us i{
	position: relative;
}
.contact-us strong{
	position: relative;
}
.footer-nav li, .improtant-link li{
   list-style: none;
}
.footer-nav li i, .improtant-link i{
    padding-right: 5px;
}
.footer-nav li a, .improtant-link a{
    color: #eed2d2;
}
.footer-nav li a:hover, .improtant-link a:hover{
    color: #2dcc70;
}
footer{
background: #111111;
color: #e2e2d8
}
.footer-credit{
background: #333;
}
.footer-credit-two{
background: #5f5f5f;
}